/* Não metais diatômicos*/
.tabela-periodica--ico-1 {
  background-color: #3b56a6;
}

/* Metais Alcalinos*/
.tabela-periodica--ico-3,
.tabela-periodica--ico-11,
.tabela-periodica--ico-19,
.tabela-periodica--ico-37,
.tabela-periodica--ico-55,
.tabela-periodica--ico-87 {
  background-color: #7b5ba7;
}

/* Metais alcalinosterrosos*/

.tabela-periodica--ico-4,
.tabela-periodica--ico-12,
.tabela-periodica--ico-20,
.tabela-periodica--ico-38,
.tabela-periodica--ico-56,
.tabela-periodica--ico-88 {
  background-color: #f27eb2;
}

/* Metais de trasição*/

.tabela-periodica--ico-21,
.tabela-periodica--ico-22,
.tabela-periodica--ico-23,
.tabela-periodica--ico-24,
.tabela-periodica--ico-25,
.tabela-periodica--ico-26,
.tabela-periodica--ico-27,
.tabela-periodica--ico-28,
.tabela-periodica--ico-29,
.tabela-periodica--ico-30,
.tabela-periodica--ico-39,
.tabela-periodica--ico-40,
.tabela-periodica--ico-41,
.tabela-periodica--ico-42,
.tabela-periodica--ico-43,
.tabela-periodica--ico-44,
.tabela-periodica--ico-45,
.tabela-periodica--ico-46,
.tabela-periodica--ico-47,
.tabela-periodica--ico-48,
.tabela-periodica--ico-72,
.tabela-periodica--ico-73,
.tabela-periodica--ico-74,
.tabela-periodica--ico-75,
.tabela-periodica--ico-76,
.tabela-periodica--ico-77,
.tabela-periodica--ico-78,
.tabela-periodica--ico-79,
.tabela-periodica--ico-80,
.tabela-periodica--ico-104,
.tabela-periodica--ico-105,
.tabela-periodica--ico-106,
.tabela-periodica--ico-107,
.tabela-periodica--ico-108,
.tabela-periodica--ico-109,
.tabela-periodica--ico-110,
.tabela-periodica--ico-111,
.tabela-periodica--ico-112{
  background-color: #f58132;
}


.tabela-periodica--ico-13,
.tabela-periodica--ico-31,
.tabela-periodica--ico-32,
.tabela-periodica--ico-49,
.tabela-periodica--ico-50,
.tabela-periodica--ico-51,
.tabela-periodica--ico-81,
.tabela-periodica--ico-82,
.tabela-periodica--ico-83,
.tabela-periodica--ico-84,
.tabela-periodica--ico-113,
.tabela-periodica--ico-114,
.tabela-periodica--ico-115,
.tabela-periodica--ico-116{
  background-color: #6bc6ef;
}



.tabela-periodica--ico-5,
.tabela-periodica--ico-6,
.tabela-periodica--ico-7,
.tabela-periodica--ico-8,
.tabela-periodica--ico-9,
.tabela-periodica--ico-14,
.tabela-periodica--ico-15,
.tabela-periodica--ico-16,
.tabela-periodica--ico-17,
.tabela-periodica--ico-33,
.tabela-periodica--ico-34,
.tabela-periodica--ico-35,
.tabela-periodica--ico-52,
.tabela-periodica--ico-53,
.tabela-periodica--ico-85,
.tabela-periodica--ico-117{
 background-color: #38b66b;
}


.tabela-periodica--ico-2,
.tabela-periodica--ico-10,
.tabela-periodica--ico-18,
.tabela-periodica--ico-36,
.tabela-periodica--ico-54,
.tabela-periodica--ico-86,
.tabela-periodica--ico-118{
  background-color: #d4ba0e;
}

.tabela-periodica--ico-57-71,
.tabela-periodica--ico-57,
.tabela-periodica--ico-58,
.tabela-periodica--ico-59,
.tabela-periodica--ico-60,
.tabela-periodica--ico-61,
.tabela-periodica--ico-62,
.tabela-periodica--ico-63,
.tabela-periodica--ico-64,
.tabela-periodica--ico-65,
.tabela-periodica--ico-66,
.tabela-periodica--ico-67,
.tabela-periodica--ico-68,
.tabela-periodica--ico-69,
.tabela-periodica--ico-70,
.tabela-periodica--ico-71{
  background-color: #ee3432;
}


.tabela-periodica--ico-89-103,
.tabela-periodica--ico-89,
.tabela-periodica--ico-90,
.tabela-periodica--ico-91,
.tabela-periodica--ico-92,
.tabela-periodica--ico-93,
.tabela-periodica--ico-94,
.tabela-periodica--ico-95,
.tabela-periodica--ico-96,
.tabela-periodica--ico-97,
.tabela-periodica--ico-98,
.tabela-periodica--ico-99,
.tabela-periodica--ico-100,
.tabela-periodica--ico-101,
.tabela-periodica--ico-102,
.tabela-periodica--ico-103{
  background-color: #a62439;
}


