.container {
  height: 250px;
  margin: 0  auto;
  max-width: 1080px;
  background-color: var(--gray-900);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  section {

    h3 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}