.container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 2px #ffff;
 background-color: var(--gray-900);
}

.content {

  display: flex;
  align-items: center;
  justify-content: space-around;

}