.background{
  width: 100%;
  height: auto;
  background-image: url(../../public/img/background.png);
}

.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero {
  max-width: 500px;
  margin-top: 40px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
    
  }

  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;
    
    span {
      color: var(--cyan-100);
      //color: #fede00;
    }
  }


  p {
    font-size: 1.2rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 30px;
    padding: 7px;
    width: 475px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    
    span {
      color: yellow;
      
    }
  }

  button {
    margin-top: 1.3rem;
  }

  @media(max-width: 800px){
    height: 5px;
  }
}

.image {
  margin-top: 35px;
}