.background{
  width: 100%;
  height: auto;
  background-image: url(../../public/img/background.jpg);
}

.contentContainer {
  max-width: 1120px;
  margin: 40px auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero {
  max-width: 500px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;
    
    span {
      color: var(--cyan-100);
    }
  }


  p {
    font-size: 1.2rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
    
    span {
      color: var(--yellow-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 1.3rem;
  }

  @media(max-width: 800px){
    height: 5px;
  }
}