.container {
display: flex;
flex-direction: column;

  h1 {
    margin-top: 15px;
  }
  
  h2 {
    margin-left: 5rem;
  }
}

.usageExamples {
  max-width: 1120px;
  margin: 0 auto;

  p {
    max-width: 1000px;
    margin: 20px auto 40px auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem
  }

  a {
    color: blue;
  }
}

.tableRender {
  max-width: 100%;
  display: block
}